.top-banner {
    background-color: rgb(109, 127, 109);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 50px;
    padding-right: 100px;
    font-family: "Special Gothic Expanded One", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.banner-link {
    display: flex;
    justify-content: end;
    gap: 40px;
    margin-right: 100px;
}

.button{
    opacity: 1;
    transition: opacity 0.15s ease;
}

a {
    color: rgb(255, 255, 255); 
}
  
.button a, .button a:visited {
    color: rgb(255, 255, 255); 
    padding: 10px 20px;
    transition: color 0.3s ease; 
  }


  .button a:hover {
    text-decoration: underline;
  }

  
